<h2>Registro</h2>
<form [formGroup]="registro_formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': enviado && f.name.errors }" />
        <div *ngIf="enviado && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Un nombre es requerido</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': enviado && f.email.errors }" />
        <div *ngIf="enviado && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Un email es requerido</div>
            <div *ngIf="f.email.errors.email">El formato del email no es correcto</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': enviado && f.password.errors }" />
        <div *ngIf="enviado && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Una contraseña es requerida</div>
            <div *ngIf="f.password.errors.minlength">La contraseña debe contener al menos 6 caracteres</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="cargando || !registro_formulario.valid" class="btn btn-primary">Registrar</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']" class="btn btn-link">Cancelar</a>
    </div>
</form>
